@import url(https://fonts.googleapis.com/css?family=Montserrat:300,regular,500,600,&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #7E4E24;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 71.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__container-big] {
  max-width: 87.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[data-showmore-button] span:last-child {
  display: none;
}

._showmore-active [data-showmore-button] span {
  display: none;
}

._showmore-active [data-showmore-button] span:last-child {
  display: block;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  border-radius: 5px;
}

.button_fl {
  color: #fff;
  background-color: #697B03;
  padding: 1.25rem 3.0625rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.button_fl:hover {
  background-color: #CBDD7A;
  color: #697B03;
}

.button_fr {
  padding: 1.25rem 2.75rem;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #7E4E24;
  color: #7E4E24;
}

.button_fr:hover {
  border: 2px solid #697B03;
  color: #697B03;
}

.button_gr {
  padding: 1.25rem 1.5rem;
  background: rgba(255, 255, 255, 0.6);
  border: 2px solid #697B03;
  color: #697B03;
}

.button_gr:hover {
  border: 2px solid #7E4E24;
  color: #7E4E24;
}

.business-block__label {
  line-height: 133%;
  letter-spacing: 0.2px;
  padding-bottom: 0.625rem;
}

.business-block__title {
  font-weight: 500;
  font-size: 2.75rem;
  line-height: 1.2272727273;
  letter-spacing: 0.2px;
  padding-bottom: 1.25rem;
}

.business-block__title span {
  color: #697B03;
}

.text {
  line-height: 1.3333333333;
  letter-spacing: 0.2px;
}

.text_bl {
  line-height: 1.3333333333;
  letter-spacing: 0.2px;
  color: #25282B;
}

.title-block {
  position: relative;
  padding-top: 1.875rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 1.3125;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.title-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/line.svg") 0 0 no-repeat;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding-top: 1.5rem;
}

.block__more {
  font-weight: 500;
  line-height: 1.3333333333;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.block__more span {
  padding-top: 1.5rem;
}

.header {
  position: absolute;
  top: 3.25rem;
  left: 0;
  height: 5.25rem;
  width: 100%;
  z-index: 50;
}

.header._header-scroll {
  position: fixed;
  top: -136%;
  background-color: rgba(238, 205, 176, 0.8);
}

.header._header-show {
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  top: 0;
}

.header__container {
  padding-top: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  z-index: 10;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.6875rem;
}

.menu__link {
  font-weight: 500;
  line-height: 133%;
  letter-spacing: 0.2px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.menu__link:hover {
  color: #697B03;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #697B03;
}

.footer__body {
  color: #fff;
  padding: 2.25rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-footer__link:not(:last-child)::after {
  content: "/";
  padding-left: 1.25rem;
}

.bottom-footer__link:hover {
  font-weight: 500;
}

.top {
  background-color: #697B03;
}

.top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 3.25rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #F9F9FA;
}

.first {
  position: relative;
}

.first__container {
  position: relative;
}

.first__body {
  position: absolute;
  top: 15.5625rem;
}

.first__business-block {
  position: relative;
  z-index: 10;
}

.first__image-ibg {
  height: 45.5625rem;
}

.first__image-ibg img {
  max-width: 100%;
}

.reserve {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem;
}

.reserve__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reserve__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reserve__image img {
  max-width: 100%;
}

.who__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.25rem;
}

.who__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
}

.who__image img {
  max-width: 100%;
}

.who__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.who__title-block {
  padding-bottom: 3rem;
}

.what {
  padding-bottom: 1.875rem;
}

.what__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3.4375rem;
}

.what__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 79%;
          flex: 0 0 79%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}

.what__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.health {
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
  position: relative;
}

.health__container {
  position: relative;
}

.health__content {
  position: absolute;
  padding: 8.625rem 0rem 1.5rem 0rem;
  z-index: 20;
}

.health__title {
  text-align: center;
  font-weight: 300;
  line-height: 123%;
  letter-spacing: 0.2px;
}

.health__copy {
  padding-top: 1.875rem;
  text-align: center;
  line-height: 1.3333333333;
  letter-spacing: 0.2px;
}

.health__block {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.health__background-ibg {
  height: 30.5625rem;
}

.health__background-ibg img {
  max-width: 100%;
}

.product__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.25rem;
}

.product__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54%;
          flex: 0 1 54%;
}

.product__image img {
  max-width: 100%;
}

.product__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 46%;
          flex: 0 1 46%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product__title-block {
  padding-bottom: 3rem;
}

.business {
  position: relative;
}

.business__container-big {
  position: relative;
}

.business__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.business__content {
  position: absolute;
  top: 14.5625rem;
  z-index: 30;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.business__business-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.business__button {
  margin-top: 1.875rem;
}

.business__decor {
  position: absolute;
  top: 7.75rem;
  height: 40.8125rem;
  z-index: 20;
}

.business__image-ibg {
  height: 54.25rem;
}

.info__body {
  padding-top: 1.125rem;
  padding-bottom: 3.0625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__bottom {
  padding-left: 0.9375rem;
  padding-bottom: 1.8125rem;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 133%;
  letter-spacing: 0.0125rem;
  color: #697B03;
}

.body-info__first {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

.body-info__list {
  padding: 0rem 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.body-info__link {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 129%;
  letter-spacing: 0.1px;
  color: #697B03;
}

.body-info__link:hover {
  color: #7E4E24;
}

.body-info__second {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
          flex: 0 0 22%;
}

.body-info__third {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 0rem 0.9375rem;
}

.body-info__title {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 133%;
  letter-spacing: 0.2px;
  color: #697B03;
}

.body-info__info {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 157%;
  letter-spacing: 0.1px;
  color: #697B03;
}

.body-info__button {
  margin-top: 1.0625rem;
  margin-bottom: 1.0625rem;
}

.body-info__fourth {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  padding: 0rem 0.9375rem;
}

@media (min-width: 87.5em) {
  .who {
    padding-top: 5rem;
  }

  .who {
    padding-bottom: 7.9375rem;
  }

  .health__title {
    font-size: 3.25rem;
  }

  .product {
    padding-top: 7.1875rem;
  }

  .product {
    padding-bottom: 8.8125rem;
  }
}

@media (max-width: 20em) {
  .who {
    padding-top: 3.75rem;
  }

  .who {
    padding-bottom: 3.75rem;
  }

  .health__title {
    font-size: 2.25rem;
  }

  .product {
    padding-top: 3.75rem;
  }

  .product {
    padding-bottom: 3.75rem;
  }
}

@media (max-width: 65.625em) {
  .footer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
  }
}

@media (max-width: 61.99875em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #fff;
    padding: 5.625rem 0.9375rem 1.875rem 0.9375rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    width: 100%;
    height: 3.75rem;
    background-color: #fff;
    z-index: 2;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    padding-top: 5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .menu__link {
    font-size: 1.5625rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .first__image-ibg img {
    -o-object-position: right;
       object-position: right;
    opacity: 0.3;
  }

  .business__decor {
    opacity: 0.2;
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .footer__links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .bottom-footer__link:not(:last-child)::after {
    display: none;
  }

  .who__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .health__content {
    padding: 4.25rem 0rem 2.5rem 0rem;
  }

  .product__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .info__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 1.875rem;
  }

  .body-info__first {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .body-info__second {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .body-info__third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .body-info__fourth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
}

@media (max-width: 29.99875em) {
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2.8125rem;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }

  .body-info__first {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .body-info__second {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .body-info__third {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .body-info__fourth {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 20em) and (max-width: 87.5em) {
@supports (padding-top: clamp( 3.75rem , 3.3796296296rem  +  1.8518518519vw , 5rem )) {
    .who {
      padding-top: clamp( 3.75rem , 3.3796296296rem  +  1.8518518519vw , 5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 3.3796296296rem  +  1.8518518519vw , 5rem )) {
    .who {
      padding-top: calc(3.75rem + 1.25 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.5092592593rem  +  6.2037037037vw , 7.9375rem )) {
    .who {
      padding-bottom: clamp( 3.75rem , 2.5092592593rem  +  6.2037037037vw , 7.9375rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.5092592593rem  +  6.2037037037vw , 7.9375rem )) {
    .who {
      padding-bottom: calc(3.75rem + 4.1875 * (100vw - 20rem) / 67.5);
    }
}

@supports (font-size: clamp( 2.25rem , 1.9537037037rem  +  1.4814814815vw , 3.25rem )) {
    .health__title {
      font-size: clamp( 2.25rem , 1.9537037037rem  +  1.4814814815vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 2.25rem , 1.9537037037rem  +  1.4814814815vw , 3.25rem )) {
    .health__title {
      font-size: calc(2.25rem + 1 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-top: clamp( 3.75rem , 2.7314814815rem  +  5.0925925926vw , 7.1875rem )) {
    .product {
      padding-top: clamp( 3.75rem , 2.7314814815rem  +  5.0925925926vw , 7.1875rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.7314814815rem  +  5.0925925926vw , 7.1875rem )) {
    .product {
      padding-top: calc(3.75rem + 3.4375 * (100vw - 20rem) / 67.5);
    }
}

@supports (padding-bottom: clamp( 3.75rem , 2.25rem  +  7.5vw , 8.8125rem )) {
    .product {
      padding-bottom: clamp( 3.75rem , 2.25rem  +  7.5vw , 8.8125rem );
    }
}

@supports not (padding-bottom: clamp( 3.75rem , 2.25rem  +  7.5vw , 8.8125rem )) {
    .product {
      padding-bottom: calc(3.75rem + 5.0625 * (100vw - 20rem) / 67.5);
    }
}
}